/* GLOBAL STYLE */
menuitem{
     background: rgb(255, 196, 0);
     padding-top: 10px;
     padding-bottom: 10px;
     color: black;
}

menuitem:hover{
     background: whitesmoke;
}

button{
     background: rgb(255,236,196);
     border: none;
     color: black;
}

#myWindow{
     background-color: #A52A2A;
}

#bt_plus{
	background-color: white;
    border:none;
    border-radius: 22px;
    text-shadow: 8px 2px red;
	color: black;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Seven Segment', sans-serif;
    padding:10px 27px;
    box-shadow: 5px 5px grey;
}

#bt_plus:hover{
	background-color: #00FF00;
	box-shadow: 5px 5px blue;
}

#bt_min{
	background-color: white;
    border:none;
    border-radius: 22px;
    text-shadow: 8px 2px red;
	color: black;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Seven Segment', sans-serif;
    padding:10px 30px;
    box-shadow: -5px 5px grey;
}

#bt_min:hover{
	background-color: red;
	box-shadow: -5px 5px blue;
}

#bt_close{
	background-color: grey;
    border:none;
    border-radius: 22px;
    text-shadow: 8px 2px red;
	color: black;
    font-weight: bold;
    font-size: 30px;
    font-family: "Lucida Console", Courier, monospace;
}

#bt_close:hover{
	background-color: green;
}

#lb_adc{
	background-color: transparent;
    text-shadow: 5px 1px white;
    color: #0C8C7B;
    font-weight: bold;
    font-size: 35px;
    font-family: "Lucida Console", Courier, monospace;
}

#lb_pwm{
	background-color: transparent;
    text-shadow: 3px 1px white;
    color: #0C8C7B;
    font-weight: bold;
    font-size: 35px;
    font-family: "Lucida Console", Courier, monospace;
}

#adc_value, #pwm_value{
	background-color: transparent;
    text-shadow: 3px 1px white;
    color: green;
    font-weight: bold;
    font-size: 35px;
    font-family: "Lucida Console", Courier, monospace;
}

#lb_icon{
	background-color: transparent;
    text-shadow: 3px 1px white;
    color: green;
    font-weight: bold;
    font-size: 35px;
    font-family: "Lucida Console", Courier, monospace;
}

#main_grid_pwm{
	padding-top:10px;
}
